---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Badge from '../components/Badge.astro';


// Card to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>
		<h1>Buenas, soy Leonardo <Badge>Disponible para trabajar!</Badge></h1>
		<h2>+1.5 años de experiencia. Desarrollador de software y amante de la pecosa ⚽...

			De Bogotá, Colombia. Con experiencia en desarrollo de sitios web y en procesamiento de datos con Python y SQL
		</h2>
	</main>
</Layout>
